body {
  background: #ffa7b6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 150%;
  text-align: center;
  color: #eee;
}

img {
  margin: 30px 0;
  outline: 15px solid #ff8da1;
  border: 15px solid #ff748c;
}

img.flipped {
  display: none;
  margin-left: 15px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.quote {
  margin-bottom: 10px;
}

.links {
  padding-top: 25px;
  border-top: 1px solid #ff8da1;
}

ul {
  text-align: center;
  margin-bottom: 20px;
}

li {
  display: inline-block;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #ff748c;
  text-decoration: none;
}

@media (min-width: 768px) {
  p { font-size: 200% }
  img.flipped { display: inline }
}

@media (min-width: 992px) {
  p { font-size: 250% }
}
